#AboutContainer{
    background-color: yellow;
    border-radius: 10px;
    margin:10px;
    padding:20px;
    font-family: 'Comfortaa', sans-serif;
}

#AboutHeaderContainer{
    display:flex;
    justify-content: center;
    align-items: center;
}

#AboutHeader{
    font-size: large;
}


@media (max-width: 767px) {

}

@media (min-width: 768px) {

}

/* ✅ Desktop */
/* 1024px and above */
@media (min-width: 1024px) {

}