#AboutContainer{
    background-color: yellow;
    border-radius: 10px;
    margin:10px;
    padding:20px;
    font-family: 'Comfortaa', sans-serif;
}

#AboutHeaderContainer{
    display:flex;
    justify-content: center;
    align-items: center;
}

#AboutHeader{
    font-size: large;
}