#popupcontainer{
    width:400px;
    height:400px;
    background-color: black;
    border-radius:25px;
    background-size:cover;
    background-position: center;
    color:black;
    font-family: 'Comfortaa', sans-serif;
    border: 1px solid black;
    z-index: 2;
    position:absolute;
    text-align: center;
    margin-left:35%;
    margin-top:200px;
    background-image:url('/public/offer.png');
}

.blur-sm{
    filter: blur(10px);
}

.none{
    display:none;
}

.popupclosebutton{
    text-align: right;
    background-color:gray;
    border-radius:100%;
    margin-left:90%;
    font-size: 20px;

}
