/*Quick Search Section*/
#quickSearch{
    /* height:800px; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center; */
    display:inline-block;
    width:95%;
    margin-left:3%;
    margin-top:2%;
    margin-bottom:12%;
    font-family: 'Comfortaa', sans-serif;
    
  }
  
  .quickHeading{
      color:#3b2632;
      font-size:30px;
      font-weight:bold;
      display: block;
      margin-left:2%;
      font-family: 'Comfortaa', sans-serif;
  }
  
  /* .quickHeading:hover{
      font-size:45px;
      color:red
  } */
  
  .quickSubHeading{
      color:gray;
      font-size:20px;
      line-height: 2;
      margin-left:2%;
      font-family: 'Comfortaa', sans-serif;
  }
  
  .darkbg{
    background-color:black;
    font-family: 'Comfortaa', sans-serif;
    color:white;
}

#allfoodlistcontainer{
    margin-left:12px;
}

#allfoodlist{
    margin-left:2px;
}
  
  
  .tileContainer{
      height:20%;
      width:100%;
      margin-left:1%;
      margin-top:3%;
      box-shadow:10px 20px 10px gray;
      float: left;
      display:block;
      /* animation:dancer 5s; */
      border-radius:20px;
      transition: all 0.3s ease-in-out;
  }

  .tileContainer:hover{
    /* transform: scale(1.01); */
    background-color: orange;
  }
  
  @keyframes dance {
      0%{
          transform: rotate(-5deg);
      }
      25%{
          transform: rotate(0deg);
      }
      40%{
          transform: scale(1.1);
      }
      50%{
          transform: rotate(5deg);
      }
      75%{
          transform: rotate(0deg);
      }
      100%{
          transform: rotate(-5deg);
      }
  }

  @keyframes dancer {
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.1);
    }
    40%{
        transform: scale(1.15);
    }
    50%{
        transform: scale(1.1);
    }
    75%{
        transform: scale(1.15);
    }
    100%{
        transform: scale(1.1);
    }
}
  
  
  .tileContainer:hover{
     transform: scale(1.01);
      /* transform: skewX(30deg); */
      /* transform: rotate(180deg); */
      /* transform: translate(180px, 200px); */
  }
  
  .tileComponent1{
      height:30%;
      width:60%;
      float: left;
  }
  
  .tileComponent1 >img{
      width:95%;
      height:100%
  }
  
  .tileComponent2{
      width:30%;
      float: left;
      margin-left:3%;
      margin-top:15%
  }
  
  .compHeading{
      font-size:45px;
      font-weight: bold;
      color:#3b2632
  }
  
  .compHeading >a{
      color:#3b2632 !important
  }
  
  .compSubHeading{
      font-size:30px;
      color:gray
  }
  
  
  @media screen and (max-width: 1600px){
      body{
          background-color:rgb(188, 188, 222)
      }
  }
  
  @media screen and (max-width: 1400px){
      body{
          background-color:rgb(237, 198, 211)
      }
      .dropdown {
          margin-left: 31%;
          margin-top: 26%;
      }
      #heading {
          margin-left: 30%;
      }
  }
  
  @media screen and (max-width: 1200px){
      body{
          background-color:rgb(255, 255, 255)
      }
  }
  
  @media screen and (max-width: 1000px){
      body{
          background-color:rgb(255, 255, 255)
      }
      .tileContainer{
          width:45%;
      }
      #heading {
          margin-top: 23%;
      }
      .dropdown {
          margin-left: 27%;
          margin-top: 33%;
          width: 65%;
      }
  }
  @media screen and (max-width: 945px){
  
      #heading {
          margin-left: 20%;
      }
      .dropdown {
          margin-left: 23%;
      }
      
  }
  
  @media screen and (max-width: 800px){
      body{
          background-color:rgb(253, 253, 253)
      }
      .logo{
          margin-left: 34%;
      }
      #heading {
          margin-top: 32%;
          margin-left: 1%;
      }
      .dropdown {
          margin-left: 1%;
          margin-top: 45%;
          width: 94%;
      }
  
  }
  
  @media screen and (max-width:600px){
      body{
          background-color:rgb(255, 255, 255)
      }

      #quickSearch{
        width:100%;
        /* padding:1px; */
        margin:1px;
      }

      .tileContainer{
          width:100%;
        margin-left:5%;
        margin-top:3%;
      }
      .logo {
          margin-left: 30%;
      }
      #heading {
          margin-top: 45%;
          margin-left: 2%;
          font-size: 46px;
      }
      .dropdown {
          margin-top: 62%;
          width: 98%;
      }

      .compHeading{
        font-size: 20px;
      }

      .compSubHeading{
        font-size:10px;
      }

      #allfoodlist{
        font-size: 6px;
      }

      #allfoodlistcontainer{
        /* font-size:6px; */
        margin-left:5px;
        margin-bottom:7%;
      }
  }
