#search{
    height:900px;
    /* border:10px groove green;
     */
    background-image: url('https://i.ibb.co/5WP4pPt/image.jpg');
    background-size: cover;      /* Makes it fill */
    background-position: center; 
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-size: cover; */
    /* background-size: 100% 500px; */
    font-family: 'Comfortaa', sans-serif;
    position:relative;
    border:solid 1px black;
}

#search::before{
    background-color: grey;
    opacity:0.5;
}

.gobutton{
    border-radius:20px;
    color:white;
    background-color: black;
    box-shadow: 10px 5px 5px purple;
}

.darkbg{
    background-color:black;
    font-family: 'Times New Roman', Times, serif;
}


.logo{
    height:150px;
    width: 150px;
    border-radius:50%;
    margin-left: 46%;
    margin-top: 2%;
    position: absolute;
    font-size:90px;
    animation: revolver 5s infinite;
}

@keyframes revolve{
    0%{
        margin-left:2%;
        transform: rotate(30deg);
    }
    25%{
        margin-left:20%;
        transform: rotate(90deg);
    }
    50%{
        margin-left:40%;
        transform: rotate(180deg);
    }
    75%{
        margin-left:80%;
        transform: rotate(270deg);
    }
    100%{
        margin-left:40%;
        transform: rotate(360deg);
    }
}


@keyframes revolver{
    0%{
        margin-left:0%;

    }
    10%{
        margin-left:10%;
        transform:rotateZ(30deg);

    }
    20%{
        margin-left:20%;
        transform: scale(1.2);
        transform:rotateZ(45deg);

    }
    30%{
        margin-left:30%;
        transform: scale(1.2);
        transform:rotateZ(60deg);

    }
    40%{
        margin-left:40%;
        transform:rotateZ(45deg);

    }
    50%{
        margin-left:50%;
        transform: scale(1.2);
        transform:rotateZ(30deg);

    }
    60%{
        margin-left:60%;
        transform: scale(1.2);
        transform:rotateZ(0deg);

    }
    70%{
        margin-left:70%;
        transform:rotateZ(-30deg);

    }
    80%{
        margin-left:80%;
        transform:rotateZ(-45deg);
        

    }
    90%{
        margin-left:90%;
        transform:rotateZ(-60deg);

    }
    100%{
        margin-left:100%;
        transform:rotateZ(-45deg);

    }
}

.logo > span{
    margin-left: 20%;
    margin-top: 15%;
    position: absolute;
}

#zomatologo{
    height:200px;


    opacity:1;
    animation: moveright 5000ms infinite;


}


#heading{
    font-size:60px;
    color:white;
    margin-left: 33%;
    margin-top: 15%;
    position: absolute;
    margin-bottom:5%;
}

.dropdown{
    height:60px;
    width:50%;
    /* border:2px solid white; */
    margin-left: 30%;
    margin-top: 22%;
    position: absolute;
    margin-bottom: 10px;
    padding-bottom: 10px;
}



select{
    height:60px;
    width:40%;
    font-size:20px;
    text-align: center;
    margin-bottom: 10%;
}

.selectstyle{
    border-radius:20px;
}

#restSelect{
    width:59%;
}
