body{
    margin:auto;
    background:rgb(255, 255, 255);
}

a{
    text-decoration:none
}

header{
    height:60px;
    /*border:5px solid hotpink;*/
    background-color: rgb(255, 255, 255);
    padding:5px;
    font-family: 'Comfortaa', sans-serif;
    position:sticky;
}


.buttonld{
    font-size: 5px;
    border-radius:15px;
    background-color:cadetblue;
    padding:20px;

}

.buttonldcontainer{
    text-align:center;
    margin-left:300px;
    /* border:1px solid black; */

}

#brand{
    float: left;
    color:black;
    font-size: 30px;
    margin-top:1%;
    margin-left:1%;

}

#menu{

    margin-left:5%;
    margin-top:20px;
}

.menumenu{
    margin-left:15px;
    margin-top:15px;
    display:inline-block;
    color:black;
}

#social{
    float: right;
}

.socialLogo{
    height:50px
}
