#contactContainer{
    margin:10px;
}


.ContactHeader{
    font-family: 'Comfortaa', sans-serif;

}


.ContactSubHeader{
    font-family: 'Comfortaa', sans-serif;


}

#contactbanner{
    background-size: cover;
}